:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);

    --p-button-outlined-secondary-hover-background: var(--p-surface-800) !important;
    --p-button-outlined-secondary-active-background: var(--p-surface-700) !important;
}
